# local development
NOTES.md
*.pdf
brand/
specs/
.playwright-mcp/
.task
.tool
tmp/
TODO.md
SUMMARY.md
drafts/
draft/

# cache directories
.cache/

# e2e tests
test-results

# python
/venv
.venv/
**/__pycache__/
*.pyc
.coverage

# javascript
node_modules/

# hugo related
/public/
/resources/
_vendor/
.hugo_build.lock
hugo.pid

# editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.ropeproject

# OS specific files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*.bak
*~

# temporary or cache files
*.log
*.tmp
*.bak
