# local development
NOTES.md
*.pdf
brand/
specs/
CLAUDE.md
.playwright-mcp/

# python
.venv/

# javascript
node_modules/

# hugo related
/public/
/resources/
.hugo_build.lock

# editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*.bak
*~

# temporary or cache files
*.log
*.tmp
*.bak
