{{- $anchor := .Anchor | default (.Text | anchorize) -}}
<h{{ .Level }} id="{{ $anchor }}">
  {{ .Text | safeHTML }}
  {{- if ge .Level 2 -}}
  <a class="heading-anchor" href="#{{ $anchor }}" aria-label="Anchor link for {{ .Text }}">
    <svg class="heading-anchor-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <!-- a chain link icon -->
      <!--
      <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
      <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
      -->

      <!-- a boat anchor icon -->
      <circle cx="12" cy="5" r="3"/>
      <line x1="12" y1="8" x2="12" y2="21"/>
      <path d="M5 13a7 7 0 0 0 14 0"/>
      <line x1="8" y1="12" x2="16" y2="12"/>
    </svg>
  </a>
  {{- end -}}
</h{{ .Level }}>
