+++
title = "Anchore Open Source Documentation"
description = "Developer-friendly scanning tools for container image security."
url = "/"
+++

<!-- Hero section -->
{{<blocks/cover title="Anchore Open Source Software Documentation"  image-anchor="top" height="med" color="light">}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary me-3 mt-3 mb-3" href="docs/">
      Start Reading
      <i class="fas fa-arrow-alt-circle-right ml-1"></i>
    </a>
    <a class="btn btn-lg btn-secondary me-3 mt-3 mb-3" href="docs/releases/">
      Release Notes
	</a>
    <a class="btn btn-lg btn-secondary me-3 mt-3 mb-3" href="docs/contributing/">
      Contribute
      <i class="fas fa-pencil-alt ml-1"></i>
    </a>
</div>
{{</blocks/cover>}}
<!-- Projects and logos section -->
{{< blocks/section color="dark" type="row" >}}
<div class="row">
  <div class="col-lg-4 mb-5 mb-lg-0 text-center">
    <div class="mb4 h1"><a href="/docs/userguides/sbom/"><img src="/images/logos/syft/apple-touch-icon-60x60.png" alt="Syft logo" class="m4-3 h1" style="max-height: 60px;"/></a></div>
    <h3>Syft</h3>
    <p>A CLI tool for generating a Software Bill of Materials (SBOM) from container images and filesystems.</p>
  </div>
  <div class="col-lg-4 mb-5 mb-lg-0 text-center">
    <div class="mb4 h1"><a href="/docs/userguides/vuln/"><img src="/images/logos/grype/apple-touch-icon-60x60.png" alt="Grype logo" class="m4-3 h1" style="max-height: 60px;"/></a></div>
    <h3>Grype</h3>
    <p>An easy-to-integrate open source vulnerability scanning tool for container images and filesystems.</p>
  </div>
  <div class="col-lg-4 mb-5 mb-lg-0 text-center">
    <div class="mb4 h1"><a href="/docs/userguides/license/"><img src="/images/logos/grant/apple-touch-icon-60x60.png" alt="Grant logo" class="m4-3 h1" style="max-height: 60px;"/></a></div>
    <h3>Grant</h3>
    <p>View licenses for containers, SBOM documents, filesystems, and apply rules that help you build a license compliance report.</p>
  </div>
</div>
{{< /blocks/section >}}

<!-- Get in contact section -->
{{< blocks/section color="light" type="row" >}}
{{% blocks/feature icon="fab fa-discourse" title="Talk to us!" %}}
Join our <i class='fab fa-discourse'></i> <a href="https://anchore.com/discourse">Discourse</a> forum and chat with members of the Anchore Open Source community
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-brands fa-github" title="Contributions welcome!" %}}
We welcome code and documentation contributions via <i class="fa-solid fa-code-branch"></i> [pull request](/docs/contributing/) on <i class='fa-brands fa-github'></i> [GitHub](https://github.com/anchore). New contributors are always welcome!
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-hashtag" title="Follow us on socials!" %}}
For announcements of latest features on <i class='fab fa-mastodon pr-2'></i> Mastodon, follow [Syft](https://fosstodon.org/@syft) and [Grype](https://fosstodon.org/@grype), and on <i class='fab fa-bluesky pr-2'></i> BlueSky, [Syft](https://bsky.app/profile/syftproject.bsky.social) and [Grype](https://bsky.app/profile/grypeproject.bsky.social).
{{% /blocks/feature %}}
{{< /blocks/section >}}
