+++
title = "Anchore Open Source Documentation"
description = "Developer-friendly scanning tools for container image security."

+++

<!-- Hero section -->
{{<blocks/cover title="Anchore Open Source Software Documentation"  image-anchor="top" height="med" color="light">}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary me-3 mt-3 mb-3" href="/oss/welcome/">
      Start Reading
      <i class="fas fa-arrow-alt-circle-right ml-1"></i>
    </a>
    <a class="btn btn-lg btn-secondary me-3 mt-3 mb-3" href="/oss/releases/">
      Release Notes
	</a>
    <a class="btn btn-lg btn-secondary me-3 mt-3 mb-3" href="/oss/about/contributing/">
      Contribute
      <i class="fas fa-pencil-alt ml-1"></i>
    </a>
</div>
{{</blocks/cover>}}
{{< blocks/section color="light" type="row" >}}
{{% blocks/feature icon="fab fa-discourse" title="Talk to us!" %}}
Join our <i class='fab fa-discourse'></i> <a href="https://anchore.com/discourse">Discourse</a> forum and chat with members of the Anchore Open Source community
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-brands fa-github" title="Contributions welcome!" %}}
We welcome code and documentation contributions via <i class="fa-solid fa-code-branch"></i> [pull request](/oss/about/contributing/) on <i class='fa-brands fa-github'></i> [GitHub](https://github.com/anchore). New contributors are always welcome!
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-hashtag" title="Follow us on socials!" %}}
For announcements of latest features on <i class='fab fa-mastodon pr-2'></i> Mastodon, follow [Syft](https://fosstodon.org/@syft) and [Grype](https://fosstodon.org/@grype), and on <i class='fab fa-bluesky pr-2'></i> BlueSky, [Syft](https://bsky.app/profile/syftproject.bsky.social) and [Grype](https://bsky.app/profile/grypeproject.bsky.social).
{{% /blocks/feature %}}
{{< /blocks/section >}}