<div class="tab-content">
  {{ $uniqueId := printf "tabs-%d" .Ordinal }}
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      {{ $title := .Get "title" }}
      <button class="nav-link disabled" disabled>{{ $title }}</button>
    </li>
    {{ $tabsString := .Get "tabs" }}
    {{ $tabs := split $tabsString "," }}
    {{ $basePath := .Get "path" }}
    {{ range $index, $tab := $tabs }}
      {{ $parts := split $tab "|" }}
      {{ $name := trim (index $parts 0) " " }}
      {{ $tabId := printf "%s-%s" $uniqueId $name }}
      <li class="nav-item">
        <button class="nav-link{{ if eq $index 0 }} active{{ end }}" id="{{ $tabId }}-tab" data-bs-toggle="tab" data-bs-target="#{{ $tabId }}" type="button" role="tab">{{ $name }}</button>
      </li>
    {{ end }}
  </ul>
  <div class="tab-content">
    {{ range $index, $tab := $tabs }}
      {{ $parts := split $tab "|" }}
      {{ $name := trim (index $parts 0) " " }}
      {{ $tabId := printf "%s-%s" $uniqueId $name }}
      {{ $filepath := "" }}
      {{ if gt (len $parts) 1 }}
        {{ $filename := trim (index $parts 1) " " }}
        {{ if $basePath }}
          {{ $filepath = printf "%s/%s" $basePath $filename }}
        {{ else }}
          {{ $filepath = $filename }}
        {{ end }}
      {{ end }}
      <div class="tab-pane fade{{ if eq $index 0 }} show active{{ end }}" id="{{ $tabId }}" role="tabpanel">
        {{ if $filepath }}
          {{ $content := readFile $filepath }}
          {{ $content | $.Page.RenderString }}
        {{ else }}
          <p>Error: No file path provided</p>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
